<div *ngFor="let step of steps; index as i; last as last"
    class="step"
    [ngClass]="{
        active: active === i,
        small: i === active - 1 || i === active + 1,
        xsmall: i < active - 1 || i > active + 1
    }"
    (click)="active = i">
    <button class="step-button">{{ i + 1 }}</button>
    <div class="step-details">
        <p *ngFor="let substep of splitSteps(step); last as lastSub">{{ substep }}{{ lastSub ? '' : '.' }}</p>
    </div>
    <div *ngIf="!last" class="link"></div>
</div>