<p-autoComplete
    [suggestions]="suggestions"
    field="title"
    placeholder="Search recipe"
    (completeMethod)="search($event)"
    (onSelect)="navigateToRecipePage($event)"
></p-autoComplete>

<div class="random-picker">
    <p-overlayPanel #op (onHide)="randomSuggestion = undefined">
        <div *ngIf="randomSuggestion" (click)="navigateToRecipePage(randomSuggestion)">
            <ng-container *ngTemplateOutlet="recipeCard; context: { $implicit: randomSuggestion }"></ng-container>
        </div>
    </p-overlayPanel>
    <p-button (click)="pickRandom(op, $event)">
        <i class="material-symbols-outlined">how_to_vote</i> <span>Pick a recipe for me</span>
    </p-button>    
</div>

<!-- <div class="by-cuisine">
    <h2>Find recipes by cuisine</h2>
    <p-chip *ngFor="let cuisine of cuisines"
        class="clickable"
        [ngClass]="isSelectedCuisine(cuisine) ? 'highlight' : ''"
        (click)="onSelectCuisine(cuisine)">
        <div class="chip-content">
            <span>{{ cuisine | titlecase }}</span>
            <i *ngIf="isSelectedCuisine(cuisine)" class="material-symbols-outlined" (click)="deselectCuisine($event)">Cancel</i>
        </div>
    </p-chip>

    <div *ngIf="selectedCuisine" class="carousel">
        <div class="card" *ngFor="let recipe of cuisineRecipes">
            <ng-container *ngTemplateOutlet="recipeCard; context: { $implicit: recipe }"></ng-container>
        </div>
    </div>
</div> -->

<div class="filter-recipes">
    <h4>Filter recipes</h4>
    <div class="filter-dropdowns">
        <p-dropdown
            [options]="cuisines"
            [(ngModel)]="selectedCuisine"
            (ngModelChange)="onFilterChange()"
            [showClear]="true"
            placeholder="Cuisine">
        </p-dropdown>
        <p-multiSelect
            [class.active]="selectedHashtags?.length"
            [options]="hashtags"
            [(ngModel)]="selectedHashtags"
            (ngModelChange)="onFilterChange()"
            [filter]="true"
            [resetFilterOnHide]="true"
            placeholder="Categories">
            <ng-template let-value pTemplate="selectedItems">Categories</ng-template>
        </p-multiSelect>
        <p-multiSelect
            [class.active]="selectedIngredients?.length"
            [options]="ingredients"
            [(ngModel)]="selectedIngredients"
            (ngModelChange)="onFilterChange()"
            [filter]="true"
            [resetFilterOnHide]="true"
            placeholder="Ingredients">
            <ng-template let-value pTemplate="selectedItems">Ingredients</ng-template>
        </p-multiSelect>
    </div>

    <div class="flex-list">
        <div class="card" *ngFor="let recipe of filteredRecipes">
            <ng-container *ngTemplateOutlet="recipeCard; context: { $implicit: recipe }"></ng-container>
        </div>
    </div>
</div>

<ng-template #recipeCard let-recipe>
    <div class="recipe-card" (click)="navigateToRecipePage(recipe)">
        <img [src]="'assets/photos/' + recipe.id + '.jpeg'" [alt]="recipe.title"/>
        <h4>{{ recipe.title }}</h4>
        <p-tag *ngFor="let tag of recipe.hashtags" [value]="tag" severity="info"></p-tag>
    </div>
</ng-template>
