<!-- <div class="page">

    <div class="header">
        <h1>Recipes</h1>
    </div>

    <div class="content">
        <recipes-list [recipes]="recipes"></recipes-list>
    </div>
</div> -->


<div style="width: 100%; height: 100%;">
    <!-- style="width: 100%; height: 500px;"> -->
    <as-split direction="horizontal" [useTransition]="true">
        <as-split-area [size]="60">
            <recipes-list [recipes]="recipes" [selectedRecipeId]="selectedRecipeId" (select)="onSelectRecipe($event)"></recipes-list>
        </as-split-area>
        <as-split-area [size]="40" [visible]="!!selectedRecipe">
            <app-recipe *ngIf="selectedRecipe" [recipe]="selectedRecipe" (close)="onClose()"></app-recipe>
        </as-split-area>
    </as-split>
</div>