.header {
    margin-bottom: 10px;

    h1 {
        margin-bottom: 0;
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

table {
    width: 100%
}

tr:hover {
    background: whitesmoke;
}

td.recipe-cell {
    cursor: pointer;
}
