@import "variables/variables";

.table-caption {
    display: flex;
    justify-content: space-between;

    .tools {
        display: flex;
        align-items: center;

        * > * {
            margin-left: 5px;
        }

        span.p-input-icon-left.ml-auto {
            i {
                margin: -11px 0 0 0;

                &.close {
                    margin-left: -25px;
                    cursor: pointer;
                }
            }

            input {
                padding-left: 30px;

                &::placeholder {
                    font-size: 13px;
                }
            }
        }
    }
}

tr.recipe-row {
    cursor: pointer;
}

