<p-tabView [(activeIndex)]="activeIndex" [scrollable]="true" (onClose)="onCloseTab($event.index)" (onChange)="onChangeTab($event.index)">
    <p-tabPanel header="Recipes">
        <ng-container *ngTemplateOutlet="recipes"></ng-container>
    </p-tabPanel>

    <p-tabPanel *ngFor="let recipe of recipeTabs" [header]="recipe.title" [closable]="true">
        <app-recipe *ngIf="selectedRecipe" [recipe]="selectedRecipe"></app-recipe>
    </p-tabPanel>
</p-tabView>

<ng-template #recipes>
    <p-table
        #recipeTable
        [value]="filteredRecipes"
        [first]="first"
        [rows]="10"
        [paginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['title']">
        <ng-template pTemplate="caption">
            <div class="table-caption">
                <div>
                    <p-chip *ngFor="let tag of hashtags" [label]="tag" [removable]="true" (onRemove)="onRemoveHashtagFilter(tag)"></p-chip>
                </div>
                <div class="tools">
                    <!-- <button [routerLink]="['../new-recipe']">
                        <i class="material-symbols-outlined">add</i>
                    </button> -->
                    <p-button>
                        <i class="material-symbols-outlined">how_to_vote</i> <span>Random picker</span>
                    </p-button>
                    <span class="p-input-icon-left ml-auto">
                        <i class="material-symbols-outlined tab-header-icon">search</i>
                        <input #search pInputText type="text" (input)="recipeTable.filterGlobal(search.value, 'contains')" placeholder="Search recipe" />
                        <i class="material-symbols-outlined tab-header-icon close" (click)="recipeTable.filterGlobal('', 'contains'); search.value = ''">close</i>
                    </span>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Title</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-recipe>
            <tr class="recipe-row" (click)="selectRecipe(recipe)">
                <td>{{ recipe.title }}</td>
                <td>
                    <p-chip *ngFor="let tag of recipe.hashtags"
                        [label]="tag"
                        [styleClass]="selectedHashtag(tag) ? 'highlight' : ''"
                        (click)="onClickHashtag(tag); $event.stopPropagation()">
                    </p-chip>
                </td>
            </tr>
        </ng-template>
    </p-table>
</ng-template>
