@import "variables/variables";

.header {
    display: flex;
    justify-content: space-between;

    p-chip {
        cursor: default;

        &:hover .p-chip {
            background: $alt;
        }
    }

    .tools {
        display: flex;
    }
}

.tab-header-icon + span {
    margin-left: 5px;
}

.multiplier {
    display: flex;

    input {
        width: 50px;
        padding-left: 5px;
    }

    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    p-button ::ng-deep button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}
