.header {
    margin-bottom: 10px;

    h1 {
        margin-bottom: 0;
    }
}

.multiplier {    
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 4px;
}

.hashtag-chips {
    margin-bottom: 10px;
}

h4 {
    text-transform: capitalize;
}