/* You can add global styles to this file, and also import other style files */
// @import "primeng/resources/themes/vela-green/theme.css";
@import "variables/variables";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.display-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button + button {
    margin-left: 5px;
}

.p-paginator {
    justify-content: end;
}

p-chip {
    margin-right: 5px;
    cursor: pointer;

    &.clickable:hover {
        .p-chip {
            background: #c5e7f7;
            transition: 500ms;
        }
    }

    &.highlight {
        .p-chip, &:hover .p-chip {
            background: #0ea5e9;
            color: white;
        }
    }

    .p-chip {
        margin-bottom: 5px;
    }
}

.p-overlaypanel-content {
    padding: 0;
    margin: 10px;
}